/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #968f8f67;
  color: #333;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  background-color: #a09c9742;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.scrum-menu {
  margin-top: 20px;
}

.scrum-menu a.nav-link {
  transition: font-weight 0.3s ease;
}

.scrum-menu a.nav-link:hover {
  font-weight: bold;
}

.nav-link {
  color: #0e0d0d;
  margin-right: 20px;
  text-decoration: none;
}

.navbar a.nav-link {
  transition: font-weight 0.3s ease;
}

.navbar a.nav-link:hover {
  font-weight: bold;
}

.active-link {
  font-weight: bold;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Main content styles */
main {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

p {
  line-height: 1.6;
}

.content {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Quiz styles */
.quiz {
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1); 
  padding: 30px;
  margin-top: 2em;
  width: 1200px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-element {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-element h2 {
  margin-bottom: 20px;
}

.quiz-element li {
  margin-bottom: 5px;
}

.quiz-element div {
  position: relative;
}

/* Button styles */
button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.footer button {
  margin-top: 0;
}

.quiz-element button {
  margin-top: 40px;
  position: absolute;
  right: 0;
  align-self: flex-end;
}

input[type="radio"] {
  margin: 10px 0; 
  margin-right: 10px;
}

/* Content item styles */
.home, .scrum, .quiz, .download-materials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.content-item {
  width: 90%; 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-item {
  width: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-item p {
  margin-top: 20px;
}

/* Download materials styles */
.download-materials {
  width: 1200px;
}

.download-tittle {
  margin-top: 20px;
}

.download-links {
  width: 100%;
  padding: 80px;
}

.download-links li a {
  transition: font-weight 0.3s ease;
}

.download-links li a:hover {
  font-weight: 800;
}

.download-links a:link, .download-links a:visited {
  color: #333;
  text-decoration: none; 
  font-weight: bold; 
}

.link-class {
  margin-top: 20px;
}
